<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Atleta</title>
</head>
<body>
    <h1>Bienvenido, {{ profile.user.first_name }} {{ profile.user.last_name }} (Atleta)</h1>
    <h2>Disciplina: {{ profile.discipline }}</h2>
    <h2>Rama: {{ profile.branch }}</h2>
    <h2>Nombre del Equipo: {{ team_name }}</h2>

    <!-- Última evaluación del atleta -->
    <h3>Última Evaluación</h3>
    {% if latest_record %}
        <p>Dificultad: {{ latest_record.difficulty }}</p>
        <p>Ejecución: {{ latest_record.execution }}</p>
        <p>Puntuación: {{ latest_record.total_score }}</p>
        <p>Fecha de Evaluación: {{ latest_record.evaluation_date }}</p>
    {% else %}
        <p>No tienes evaluaciones disponibles aún.</p>
    {% endif %}

    <!-- Mostrar el mejor atleta de las Olimpiadas 2024 -->
    {% if champion %}
        <h3>Ganadora Olimpiadas París 2024: {{ champion.name }}</h3>
        <p>País: {{ champion.country }}</p>
        <p>Dificultad: {{ champion.difficulty }}</p>
        <p>Ejecución: {{ champion.execution }}</p>
        <p>Puntuación: {{ champion.score }}</p>
    {% endif %}

    <!-- Lista de mejores atletas para compararse -->
    <h3>Mejores Atletas</h3>
    <ul>
        {% if best_athletes %}
            {% for athlete in best_athletes %}
            <li>
                <strong>{{ athlete.user.first_name }} {{ athlete.user.last_name }}</strong> - {{ athlete.olympic_country }} - Puntuación: {{ athlete.max_score }}
            </li>            
            {% endfor %}
        {% else %}
            <li>No hay más atletas para mostrar.</li>
        {% endif %}
    </ul>    

    <h3>Opciones de Comparación</h3>
    <a href="{% url 'comparison_options' %}">Ir a la Comparación</a>
    <br></br>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    <br> </br>
    <a href="{% url 'password_change' %}">Cambiar Contraseña</a>
</body>
</html>
