<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Atleta</title>
</head>
<body>
    <div class="profile-container">
        <h1>Bienvenido, <span class="highlight">{{ profile.user.first_name }} {{ profile.user.last_name }}</span></h1>
        
        <!-- Opciones del atleta -->
        <div class="info-block">
            <h2>Opciones del Atleta</h2>
            <ul>
                <li><a href="{% url 'profile' %}">Perfil</a></li>
                <li><a href="{% url 'view_athlete_records' profile.id %}">Historial de Evaluaciones</a></li>
                <li><a href="{% url 'comparison_options' %}">Comparaciones</a></li>
                <li><a href="#">Análisis de Competencia</a></li> <!-- Pendiente de implementar -->
            </ul>
        </div>
    </div>

    <!-- Solicitud de baja del subequipo -->
    <div class="info-block">
        <h3>Equipo Olímpico</h3>
        <p>Subequipo asignado: <strong>{{ profile.olympic_team.team_name }}</strong></p>
        
        <!-- Botón para solicitar la baja del subequipo -->
        <button onclick="confirmUnsubscribe()">Solicitar baja del subequipo</button>

        <script>
        function confirmUnsubscribe() {
            if (confirm("¿Seguro que quieres darte de baja del equipo {{ profile.olympic_team.team_name }}?")) {
                window.location.href = "{% url 'request_team_unsubscribe' %}";  <!-- Ruta que manejaremos en el servidor -->
            }
        }
        </script>
    </div>
    <br></br>
    <div class="info-block">
        <h3>Última Evaluación</h3>
        {% if latest_record %}
            <p><strong>Fecha de Evaluación:</strong> {{ latest_record.evaluation_date }}</p>
            <p><strong>Puntuación Total:</strong> {{ latest_record.total_score }}</p>
            <p><strong>Coach:</strong> {{ latest_record.coach.user.first_name }} {{ latest_record.coach.user.last_name }}</p>
            <a href="{% url 'athlete_view_evaluation_detail' latest_record.id %}">
                <button>Ver Detalle de la Evaluación</button>
            </a>
        {% else %}
            <p>No tienes evaluaciones disponibles aún.</p>
        {% endif %}
    </div>    
    <br></br>
    <!-- Formulario para cerrar sesión -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="button logout-btn">Cerrar sesión</button>
    </form>
</body>
</html>