<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Atleta: {{ full_name }}</title>
</head>
<body>
    <h1>Perfil del Atleta: {{ full_name }}</h1>
    <p>Fecha de Nacimiento: {{ profile.date_of_birth }}</p>
    <p>País de Nacimiento: {{ profile.get_country_display }}</p>
    <p>Equipo Olímpico: {{ team_name }}</p>
    <p>Disciplina: {{ profile.discipline }}</p>
    <p>Rama: {{ profile.branch }}</p>
    <p>País Olímpico: {{ profile.get_olympic_country_display }}</p>

    <h3>Evaluaciones del Atleta</h3>
    <ul>
        {% for record in athlete_records %}
            <li>
                <a href="{% url 'view_evaluation_detail' record.id %}">
                    Evaluación realizada el: {{ record.evaluation_date }} por {{ record.coach.user.first_name }}
                </a>
            </li>
        {% empty %}
            <p>No hay evaluaciones registradas para este atleta.</p>
        {% endfor %}
    </ul>
    
    <!-- Agregar el botón de "Evaluar Atleta" solo si puede evaluar -->
    {% if can_evaluate %}
    <a href="{% url 'evaluate_athlete' profile.id %}">
        <button>Evaluar Atleta</button>
    </a>
    {% endif %}
    <br><br>
    <!-- El botón ahora redirige a la vista de editar subequipo -->
    {% if subteam_id %}
    <a href="{% url 'edit_subteam' subteam_id %}">
        <button>Regresar</button>
    </a>
    {% else %}
        <button onclick="window.history.back();">Regresar</button>
    {% endif %}
</body>
</html>