<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Coach</title>
</head>
<body>

    <!-- Mostrar mensajes de alerta si los hay -->
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="dashboard-container">
        <h1>Bienvenid@ Coach: {{ profile.user.first_name }} {{ profile.user.last_name }}</h1>

        <div class="options">
            <h2>Opciones del Coach:</h2>
            <ul>
                <li><a href="{% url 'profile' %}">Ver Perfil</a></li>
                <li><a href="{% url 'manage_subteams' %}">Gestionar Subequipos</a></li>
                <li><a href="{% url 'create_subteam' %}">Crear Subequipo</a></li>
            </ul>
        </div>
        
        <!-- Botón de cerrar sesión -->
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Cerrar sesión</button>
        </form>
        <br><br>
        <button class="button" onclick="window.history.back();">Regresar</button>
    </div>
</body>
</html>
