<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparación de Récords Personales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="body-compare-records">
    <div class="comparison-container-records">
        <!-- Header Section with Logo -->
        <div class="header-section-records">
            <a href="{% url 'home' %}">
                <img src="{% static '/css/images/Logo.png' %}" alt="Logo">
            </a>
        </div>

        <h2 class="title-compare-records">Comparación de Récords Personales</h2>

        <!-- Display error messages inside the white container -->
        {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert-compare-records alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <p class="text-compare-records">Selecciona dos récords diferentes para comparar</p>
        <form method="POST">
            {% csrf_token %}
            <label class="label-compare-records" for="record_1">Primer Récord:</label>
            <select class="select-compare-records" name="record_1" required>
                <option value="">Seleccionar</option>
                {% for record in records %}
                <option value="{{ record.id }}">{{ record.evaluation_date }} - Dificultad: {{ record.difficulty }}, Ejecución: {{ record.execution }}</option>
                {% endfor %}
            </select>

            <label class="label-compare-records" for="record_2">Segundo Récord:</label>
            <select class="select-compare-records" name="record_2" required>
                <option value="">Seleccionar</option>
                {% for record in records %}
                <option value="{{ record.id }}">{{ record.evaluation_date }} - Dificultad: {{ record.difficulty }}, Ejecución: {{ record.execution }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn-compare-records btn-primary-records">Comparar</button>
        </form>

        <button type="button" class="btn-compare-records btn-secondary-records" onclick="window.history.back();">Regresar</button>
    </div>
</body>
</html>
