<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones de Comparación</title>
    
</head>
<body>
    <div class="comparison-container">
        <h2>¿Cómo te gustaría comparar tus registros?</h2>
        <form method="POST">
            {% csrf_token %}
            <label>
                <input type="radio" name="comparison_type" value="personal_records" required>
                Comparar mis propios récords
            </label>
            <label>
                <input type="radio" name="comparison_type" value="other_athletes" required>
                Comparar con otros atletas
            </label>
            <br></br>
            <button type="submit">Continuar</button>
        </form>
        <br>
        <button onclick="window.history.back();">Regresar</button>
    </div>
</body>
</html>
