{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Subequipo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'css/images/WhiteLogo.png' %}">
</head>
<body class="create-subteam-body">

    <div class="create-subteam-container">
        <!-- Logo -->
        <div class="logo-container">
            <a href="{% url 'home' %}">
                <img src="{% static '/css/images/Logo.png' %}" alt="Logo" class="logo-img">
            </a>
        </div>

        <!-- Título -->
        <h2 class="create-subteam-title">Crear Subequipo</h2>
        <p class="team-info">Subequipo olímpico: {{ profile.olympic_team }}</p>

        <form method="POST" onsubmit="return confirm('¿Estás seguro de que deseas crear este subequipo?');">
            {% csrf_token %}

            <label for="name" class="subteam-label">Nombre del subequipo:</label>
            <input type="text" name="name" id="name" class="subteam-input" required>

            <label for="athletes" class="subteam-label">Seleccionar atletas:</label>
            <select name="athletes" id="athletes" class="subteam-select" multiple required>
                {% for athlete in available_athletes %}
                    <option value="{{ athlete.id }}">{{ athlete.user.first_name }} {{ athlete.user.last_name }}</option>
                {% endfor %}
            </select>

            <div class="button-group">
                <button type="submit" class="subteam-btn create-btn">Crear Subequipo</button>
                <a href="javascript:window.history.back();" class="subteam-btn back-btn">Regresar</a>
            </div>
        </form>
    </div>

</body>
</html>
