<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluar a {{ athlete.user.first_name }} {{ athlete.user.last_name }}</title>
</head>
<body>
    <h2>Evaluar a {{ athlete.user.first_name }} {{ athlete.user.last_name }}</h2>
               
        <!-- Campo de Fecha de Evaluación
        <label for="evaluation_date">Fecha de Evaluación:</label>
        {{ form.evaluation_date }}
        -->
    
        <!-- Criterios dinámicos de evaluación -->
        <form method="POST">
            {% csrf_token %}
            
            <!-- Campo de Fecha de Evaluación -->
            <label for="evaluation_date">Fecha de Evaluación:</label>
            {{ form.evaluation_date }}
        
            <!-- Criterios dinámicos de evaluación -->
            <h3>Criterios de Evaluación:</h3>
            {% for criterion in evaluation_criteria %}
                <div>
                    <label for="criterion_{{ criterion }}">{{ criterion }}:</label>
                    <select name="criterion_{{ criterion }}">
                        {% for score in evaluation_range %}
                            <option value="{{ score }}">{{ score }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div>
                    <label for="note_{{ criterion }}">Notas para {{ criterion }}:</label>
                    <textarea name="note_{{ criterion }}"></textarea>
                </div>
            {% endfor %}
        
            <button type="submit">Guardar Evaluación</button>
        </form>        

    <button onclick="window.history.back();">Regresar</button>
</body>
</html>