<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AthletePath | Inicio de Sesión</title>

</head>
<body>
    <div class="login-container">
        <h1>Inicia Sesión<br>Athlete Path</h1>

        <!-- Formulario de inicio de sesión -->
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }} <!-- Token de seguridad para evitar ataques CSRF -->
            <div>
                <label for="username">Nombre de usuario:</label>
                <input type="text" name="username" id="username" aria-label="Nombre de usuario" required> <!-- Campo para el nombre de usuario -->
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" aria-label="Contraseña" required> <!-- Campo para la contraseña -->
                <input type="checkbox" id="show-password" onclick="togglePassword()"> Mostrar contraseña
            </div>
            <button type="submit">Entrar</button> <!-- Botón para enviar el formulario -->
        </form>

        <!-- Mostrar mensajes de error si hay -->
        {% if messages %}
            {% for message in messages %}
                <div class="error">{{ message }}</div> <!-- Muestra cada mensaje de error -->
            {% endfor %}
        {% endif %}

        <!-- Enlace para crear una cuenta si no tienes una -->
        <div class="create-account">
            <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
        </div>
        <p>¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">Haz clic aquí para restablecerla</a></p>
        <br>

        <!-- Botón para regresar al main home page -->
        <div class="back-to-home">
            <a href="{% url 'home' %}">
                Regresar a la página principal
            </a>
        </div>
    </div>

    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</body>
</html>