<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <div class="password-container">
        <h1>Cambiar Contraseña</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cambiar Contraseña</button>
        </form>
        <br>
        <!-- El botón Regresar ahora te redirige según el rol -->
        <a href="{% if request.user.profile.is_athlete %}{% url 'athlete_profile' %}{% elif request.user.profile.is_coach %}{% url 'coach_dashboard' %}{% else %}{% url 'home' %}{% endif %}">
            <button>Regresar</button>
        </a>
    </div>
</body>
</html>