{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario | Athlete Path</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'css/images/WhiteLogo.png' %}">
    <style>
        .register-page {
            background-image: url("{% static 'css/images/Vector_Completo.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body class="register-page">
    <div class="register-container">
        <!-- Logo en el centro -->
        <div class="logo-container">
            <a href="{% url 'home' %}">
                <img src="{% static 'css/images/Logo.png' %}" alt="Logo Athlete Path" class="register-logo">
            </a>
        </div>

        <h2 class="register-title">Registro de Usuario</h2>
        <form method="POST">
            {% csrf_token %}

            <!-- Información básica del usuario -->
            <fieldset class="register-fieldset-basic">
                <legend class="register-legend-basic">Datos del Usuario</legend>
                {{ user_form.as_p }}
            </fieldset>

            <!-- Información adicional del perfil -->
            <fieldset class="register-fieldset-profile" id="profile_fields">
                <legend class="register-legend-profile">Datos del Perfil</legend>
                {{ profile_form.as_p }}
            </fieldset>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var disciplineSelect = document.getElementById("id_discipline");
                    var branchSelect = document.getElementById("id_branch");
        
                    disciplineSelect.addEventListener("change", function() {
                        var selectedDiscipline = disciplineSelect.value;
        
                        // Realizamos la solicitud al servidor para obtener las ramas
                        fetch('/users/get_branches/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({ 'discipline': selectedDiscipline })
                        })
                        .then(response => response.json())
                        .then(data => {
                            branchSelect.innerHTML = '';  // Limpiar opciones anteriores
        
                            // Añadir nuevas opciones de ramas
                            data.branches.forEach(branch => {
                                var option = document.createElement("option");
                                option.value = branch[0];
                                option.textContent = branch[1];
                                branchSelect.appendChild(option);
                            });
                        })
                        .catch(error => console.error('Error al cargar las ramas:', error));
                    });
                });
        
                // Ejecutar la función cuando el usuario cambia el rol
                document.getElementById("id_role").addEventListener("change", toggleFieldsBasedOnRole);
            </script>

            <button type="submit" class="register-btn-primary">Registrarse</button>
        </form>

        <button type="button" class="register-btn-secondary" onclick="window.history.back();">Regresar</button>
    </div>
</body>
</html>
